@import './mixin';
@import './resetting';


header {
    .headerTop {
        padding: 5px;
        background-color: rgb(50, 50, 50);
        position: relative;
        font-size: 14px;

        @include responsive(992px) {
            display: none;
        }

        .left {
            cursor: pointer;

            .social {
                border-right: 1px solid white;

                i {
                    color: white;
                    margin-right: 10px;
                }
            }

            .phone {
                color: white;

                i {
                    margin-left: 20px;
                }
            }
        }

        .right {
            .contact {
                color: white;
                display: flex;

                .contact-sign {
                    border-right: 1px solid white;
                    margin-right: 10px;
                }

                .contact-lang {
                    border-right: 1px solid white;
                    margin-right: 10px;
                }

                span {
                    margin-right: 17px;

                }
            }
        }



    }

    .headerbottom {
        margin-top: 1rem;

        .logo {
            h1 {
                font-size: 2rem;
                font-weight: 700;
            }

            @include responsive(992px) {}
        }

        .navList {
            @include responsive(992px) {
                display: none;
            }

            nav {
                ul {
                    li {
                        padding: 0 15px;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 0%;
                            height: 2px;
                            background-color: #000000;
                            top: 60%;
                            margin-top: 7px;
                            transition: .5s ease;
                        }

                        &:first-child::before {
                            width: 63%;
                        }

                        &:hover::before {
                            width: 63%;
                        }

                        a {
                            color: #313030;
                            text-decoration: none;
                            text-transform: capitalize;
                            padding: 28px 0;
                            font-weight: 400;
                            line-height: 24px;
                            font-family: Jost;
                            font-size: 1rem;

                            i {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }

        .search {
            i {
                font-size: 1.5rem;
            }
        }
    }
}

#style {
    height: 90vh;

    .styleText {
        margin-top: 10rem;
        margin-left: 4rem;

        h1 {
            color: #313030;
            text-transform: capitalize;
            font-size: 5rem;
            line-height: 1;
            margin-bottom: 24px;
            font-weight: 400;

        }

        p {
            color: #535252;
            text-transform: none;
            font-size: 1.2rem;
            line-height: 1.3;

            &::before {
                content: "";
                background: #282828;
                width: 50px;
                height: 1px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        a {
            text-decoration: none;
            line-height: 26px;
            padding: 10px 37px;
            border: 2px solid #313030;
            text-transform: capitalize;
            display: inline-block;
            vertical-align: top;
            color: #313030;
            margin-top: 50px;
        }
    }
}

#designers{
    margin-top: 4rem;
    margin-bottom: 4rem;
    .designers-center-text{
        h2{
            text-align: center;
            font-family: Jost;
            line-height: 1.5;
            color: #313030;
            font-weight: 400;
            text-transform: none;
        }
    }
    .images-design img{
        margin-top: 2rem;
        padding: 0 25px;
    }
}